body {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.header {
    background-color: #1f2937;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.logo {
    display: flex;
    padding-left: 100px;
    align-items: center;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #f9faf8;
}

.header-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #e5e7eb;
    padding-right: 100px;
    font-family: 'Roboto';
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto';
    padding-left: 100px;,
    gap: 0px;
    padding-bottom: 50px;

}

h1 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.image {
    display: flex;
    justify-content: flex-end;
}

.hero-main {
    list-style: none;
    font-size: 48px;
    font-weight: 800px;
    color: #f9faf8;
    width: 30%;
    margin-bottom: 0px;

}

.hero-secondary {
    list-style: none;
    font-size: 18px;
    color: #f9faf8;
    width: 40%;

}

.random-info {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    align-items: center;
}

.information {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.photo {

    border: 5px solid;
    border-color: #3882f6;
    border-radius: 25px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin: 20px;
}

.photo-order {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
   
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Roboto';
    color: #1f2937;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 540px;
    padding-right: 540px;
}

.last-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.box {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    font-family: 'Roboto';
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    border: 10px;
    border-radius: 20px;

}

.section-text {
    margin-right: 300px;
    margin-bottom: 0px;
    padding: 0px;

}

button {
    
    background-color: #3882f6;
    border-radius: 10px;
    padding: 25px;
    font-size: larger;
    color: #f9faf8;
    width: 200px;
}

.section-button {
    border: 3px solid;
    border-radius: 10px;
    border-color: #f9faf8;
}